@keyframes spin {
  0% {
    stroke-dasharray: ($circumference);
    stroke-dashoffset: ($circumference);
  }

  100% {
    stroke-dasharray: ($circumference);
    stroke-dashoffset: 0;
  }
}

@keyframes loadingTimer {
  @for $i from 1 through 100 {
    #{$i}% {
      content: $i + '';
    }
  }
}

@keyframes bounceOut {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY($spinnerTitleFontSize);
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(70px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(70px);
    opacity: 0;
  }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOutUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-30px);
    opacity: 0;
  }
}

@keyframes innerCircleExpansion {
  70% {
    opacity: 1;
  }

  100% {
    width: 110vw;
    height: 110vw;
    opacity: 0;
  }
}

@keyframes circleExpansion {
  65% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    r: $spinnerRadius * 2;
  }
}

@keyframes disappearance {
  100% {
    visibility: hidden;
  }
}

@keyframes suction {
  100% {
    transform: scale(0, 0);
  }
}

@keyframes outOfTheView {
  100% {
    right: 3000px;
  }
}
