@mixin flex($directon) {
  display: flex;
  flex-direction: $directon;
}

@mixin flex-between($directon) {
  @include flex($directon);

  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

@mixin flex-start($directon) {
  @include flex($directon);

  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flex-center($directon) {
  @include flex($directon);

  justify-content: center;
  align-items: center;
}

@mixin background-cover($position) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: $position;
}

@mixin background-contain($position) {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: $position;
}
