{
  "./**/*.scss": ["prettier-stylelint --write", "stylelint", "git add ."],
  "./**/*.js": ["prettier", "eslint" ,"prettier --write'", "git add ."],
  "./**/*.html": ["prettier --parser 'html' --write", "git add ."]
}