.modal-block {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, .4);
  display: none;
  pointer-events: none;

  &:target {
    display: flex;
    pointer-events: auto;
  }

  .modal-content {
    margin: auto;
    background-color: white;
    min-width: 400px;
    min-height: 300px;
    position: relative;
    padding: 30px 35px;

    @media screen and (max-width: 400px) {
      min-width: 90%;
    }

    .modal-content__closing-button:before {
      content: 'x';
      position: absolute;
      right: 10px;
      top: 0;
      font-family: Helvetica;
      font-size: 40px;
      font-weight: bold;
      color: $darkGray;
    }
  }
}
