.spinner {
  position: relative;
  height: 100%;
  width: 100%;
  @include flex-center(row);

  .spinner__circle {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    animation: suction .3s linear $spinnerDisappearanceAnimationDelay forwards;

    circle {
      fill: none;
      stroke: $darkGray;
      stroke-width: $strokeWidth;
      stroke-dasharray: $circumference;
      r: $spinnerRadius;
      cx: 50%;
      cy: 50%;
      stroke-linecap: round;

      @media screen and (max-width: 600px) {
        r: $spinnerRadius * .8;
      }

      &.circle__animated-circle {
        stroke: $lightGray;
        animation: spin $spinnerAnimationDuration linear forwards;
      }
    }
  }

  .spinner__title {
    width: $spinnerRadius * 1.3;
    color: $white;
    position: absolute;
    animation:
      fadeIn .7s ease-out forwards,
      disappearance 0s linear $spinnerDisappearanceAnimationDelay forwards;
  }

  &:after {
    position: absolute;
    right: -8px;
    bottom: -30px;
    content: '100';
    color: $darkGray;
    animation:
      loadingTimer $spinnerAnimationDuration linear forwards,
      bounceOut $counterAnimationDuration cubic-bezier(.7, -.2, .735, .045)
      $counterAnimationDelay forwards;
    font-size: $spinnerTitleFontSize;
    font-family: $headersFont;
    @media screen and (max-width: 600px) {
      font-size: $spinnerTitleFontSize * .8;
    }
  }
}
