////////////////// Content /////////////////////

$maxContentWidth: 1600px;

////////////////// Spinner /////////////////////

$strokeWidth: 2px;
$spinnerRadius: 200px;
$circumference: (2 * 3.14 * $spinnerRadius);
$spinnerTitleFontSize: 200px;

////////////////// Animations /////////////////////

//----- Timings
$spinnerAnimationDuration: 2s;
$spinnerDisappearanceAnimationDelay: $spinnerAnimationDuration + .2s;
$circleExpansionAnimationDuration: .6s;
$counterAnimationDuration: 1s;
$counterAnimationDelay: $circleExpansionAnimationDuration + $spinnerAnimationDuration;

$galleryBlockAnimationDuration: .6s;
