.wrapper {
  .gallery-block {
    @include flex-between(row);

    @media screen and (max-width: 600px) {
      @include flex-center(column);
    }

    .gallery-element__animation {
      transition: all $galleryBlockAnimationDuration cubic-bezier(.645, .045, .355, 1);
    }

    .gallery-block__element {
      width: 320px;
      height: 420px;
      overflow: hidden;
      margin: 10px;
      @extend .gallery-element__animation;

      .element {
        width: inherit;
        height: inherit;
        background-color: $lightGray;
        position: relative;
        @extend .gallery-element__animation;
        @include flex(row);
        @include background-cover(top);

        &__title {
          font-size: 44px;
          color: $white;
          position: absolute;
          bottom: -6px;
          left: 0;
          line-height: 40px;
          @extend .gallery-element__animation;
        }

        .element__mask-block {
          position: relative;
          width: 220px;
          height: 300px;
          margin: auto;
          @include flex(row);

          &:before {
            content: '';
            background-color: $white;
            margin: auto;
            width: 1px;
            height: 1px;
            @extend .gallery-element__animation;
          }
        }

        .mask-block__title {
          position: absolute;
          top: 30%;
          text-align: center;
          margin: 0 auto;
          width: 100%;

          h3 {
            font-size: 36px;
            display: block;
            height: 36px;
            overflow: hidden;
            padding-top: 40px;
            color: $white;
            @extend .gallery-element__animation;
          }
        }
      }

      @each $class in blah0, blah1, blah2, blah3 {
        .element__#{$class} {
          background-image: url('../img/#{$class}.jpg');
        }
      }

      &:hover {
        transform: scale(.95, .95);

        .element {
          transform: scale(1.1, 1.1);

          &__title {
            transform: translateY(50px);
          }

          &__mask-block {
            &:before {
              transform: scale(220, 300);
            }
          }

          .mask-block__title {
            h3 {
              padding-top: 0;
            }
          }
        }
      }
    }
  }
}
