.wrapper {
  .pre-footer {
    @include flex-between(row);

    @media screen and (max-width: 600px) {
      display: none;
    }

    ul {
      li {
        display: inline-block;
      }

      &.pre-footer__links {
        li {
          margin-right: 30px;
        }
      }

      &.pre-footer__media {
        li {
          margin-right: 10px;
        }
      }
    }
  }
}
