.wrapper {
  .social-block {
    position: relative;
    @include flex-between(row);
    @media screen and (max-width: 600px) {
      @include flex-center(column);
    }

    aside {
      width: 15%;
      @include flex-between(column);
      @media screen and (max-width: 600px) {
        width: 100%;
      }

      .social__total {
        display: block;
        position: absolute;
        bottom: -100px;

        @media screen and (max-width: 600px) {
          display: none;
        }

        .total__data {
          opacity: .4;
          margin-bottom: 20px;

          @media screen and (max-width: 600px) {
            position: absolute;
            bottom: 0;
            right: 0;
          }

          h2 {
            font-size: 100px;
            @media screen and (max-width: 600px) {
              font-size: 70px;
            }
          }
        }

        .total__title {
          text-transform: uppercase;
          font-size: 15px;
        }
      }
    }

    .social-block__info {
      width: 70%;
      max-width: 900px;
      margin-top: 50px;
      @include flex-between(row);
      @media screen and (max-width: 600px) {
        width: 100%;
        @include flex-center(column);

        margin-top: 10px;
      }

      .info__element {
        border: 1px solid #444;
        padding: 40px 45px 30px;
        margin: 30px 5px;
        transition: color 1s;
        width: 250px;
        height: 190px;
        transition: transform .5s;
        @include flex-between(column);

        .element__title {
          font-size: 18px;
          transform: scaleY(1.4);
          text-transform: uppercase;
        }

        .element__data {
          font-size: 55px;
          transform: scaleY(1.5);
          font-weight: 400;
          letter-spacing: -3px;
        }

        .element__hover-text {
          font-size: 15px;
          display: none;
          margin-bottom: 20px;

          &:before {
            @include longDash();

            font-size: 15px;
          }
        }

        &:hover {
          background-color: $flowerBlue;
          transform: scale(1.05, 1.05);
          border: none;

          .element__data {
            display: none;
          }

          .element__hover-text {
            display: block;
          }
        }
      }
    }
  }
}
