.wrapper {
  &.splash-screen {
    height: 100%;
    position: fixed;
    z-index: 10;
    padding: 0;
    animation: outOfTheView 0s linear ($counterAnimationDelay + $counterAnimationDuration) forwards;

    .splash-screen {
      &__spinner {
        padding: 0;
      }
    }
  }
}
